/*Changed default styling==========================*/
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
  
::-webkit-scrollbar { 
  display: none; 
}



/*Loader==========================================*/
#loader {
  position: relative;
  z-index: 1;
  margin: 45vh auto;
  border: 8px solid #ffffff;
  border-radius: 50%;
  border-top: 8px solid rgba(121, 2, 99, 0.6);
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(720deg); }
}




/*Banner===========================================*/
.container {
  position: relative;
}

.text {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)); 
  color: #ffffff;
  text-align: center;
  bottom: 40px;
  right: 40px;
  border-radius: 10px;
  padding: 5px 15px;
}

h1 {
  font-size: 80px;
  margin-bottom: -10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h4 {
  width: 200px;
  padding: 3px 8px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 40px auto 10px auto;
}

.slideshow {
  width: 100%;
  height: 100%; 
  position:relative; 
}

.slideshow img{ 
  position:absolute; 
  animation: slide 20s infinite;
  opacity:0; 
  width: 100%; 
  height: 100%;
  height: auto;
  margin: -50px 0 0 0;
  }

@keyframes slide {
  25% {opacity:1;} 
  40% {opacity:0;}
} 


.slideshow img:nth-child(4){animation-delay:0s;}
.slideshow img:nth-child(3){animation-delay:5s;}
.slideshow img:nth-child(2){animation-delay:10s;}
.slideshow img:nth-child(1){animation-delay:15s;}




/*Nav Bar=======================================*/
#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;
  z-index: 20;
  user-select: none;
  border-radius: 30%;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 20%; 
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 20px;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.pages {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.pages:hover {
  color: rgba(21, 7, 43, 0.7);
}



/*Profile Page=============================================*/
.none {
  display: grid;
  grid-template-rows: 1fr 0.5fr 2.5fr 4fr 3fr;
  grid-template-columns: 4fr 5fr 15fr 4fr;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/setup2.jpg");
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}


/*Header============*/
.header {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  background-color: rgba(121, 2, 99, 0.7);
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.logout {
  float: right;
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(121, 2, 99);
  padding: 7px 18px;
  border-radius: 5px;
  margin: 0px 20px 5px 20px;
  transition: opacity 0.5s;
}

div .logout:hover {
  cursor: pointer;
  opacity: 0.8;
}



/*Profile section====*/
#profile {
  grid-row:  3 / 4;
  grid-column: 2 / 4;
  background-color: rgba(121, 2, 99, 0.7);
  width: 100%;
  border-radius: 10px;
  margin: 0px auto 50px auto;
}

.profile-pic {
  float: left;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  margin: 10px;
}

#user {
  float: left;
  font-size: 52px;
}

.games {
  display: inline;
  font-weight: bolder;
  background-color: #ffffff;
  color: rgb(121, 2, 99);
  width: 32.5%;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  transition: opacity 0.6s
}

.games:hover {
  cursor: pointer;
  opacity: 0.9;
}

.games:focus {
  outline: none;
}

#display1 {
  margin-left: 5px;
}




/*Rankings=================*/
#rank {
  grid-row:  4 / 5;
  grid-column: 2 / 4;
  background-color: rgba(121, 2, 99, 0.7);
  width: 100%;

  border-radius: 10px;
  margin: 0px auto 200px auto;
}

#global {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  margin: 8px auto;
}

#dof, #game3 {
  display: none;
}

.results {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
}

th {
  font-size: 18px;
  padding: 15px 5px 10px 5px;
  margin: 10px auto 0px auto;
}

td {
  opacity: 0.5;
}