.admin_none {
  background-color: $white;
  color: $white;
}

.admin_header {
  background-color: $primary;
  height: 80px;
  width: 100vw;
  padding-bottom: 10px;
}

.panels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  text-align: justify;

  .title {
    font-size: 60px;
    margin: 10px auto 5px auto;
  }

  .manage {
    margin: 10px auto;
  }

  #users {
    grid-column: 1 / 2; 
    text-align: center;
    background-color: $primary;
    border-radius: 10px;
    padding: 35px 20px;
    margin: 100px 20px;
  }
  
   #games{
    grid-column: 2 / 3; 
    text-align: center;
    background-color: $primary;
    border-radius: 10px;
    padding: 35px 20px;
    margin: 100px 20px;
  }
}





