/*Rankings=======================*/
#rank {
  grid-row:  4 / 5;
  grid-column: 2 / 4;
  background-color: $primary;
  width: 100%;
  border-radius: 10px;
  margin: 0px auto 200px auto;

  #global {
    text-align: center;
    color: $white;
    font-size: $medium-large;
    margin: 8px auto;
  }

  #dof {
    display: none;
  }

  .results {
    text-align: center;
    margin: 10px auto;
    padding: 5px;
  }

  th {
    font-size: $small;
    padding: 15px 5px 10px 5px;
    margin: 10px auto 0px auto;
  }
  
  td {
    opacity: 0.5;
  }
}