body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar { 
  display: none; 
}

.btn {
  position: relative;
  width: 150px;
  border: none;
  padding: 10px 5px;
  margin-top: 20px;

  &:active {
    transform: translateY(6px);
  }
}

.buffer {
  margin-top: 170px;
  margin-bottom: 120px;
}