body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar { 
  display: none; 
}

.button {
  background-color: $primary;
  position: relative;
  width: 150px;
  border: none;
  padding: 10px 5px;
  margin-top: 20px;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $hover;
    transform: translateY(4px);
  }

  &:focus {
    background-color: $hover;
    outline: none;
  }
}

.buffer {
  margin-top: 170px;
  margin-bottom: 120px;
}