body {
  background-color: #3fe1f3;
}

p, ul, li {
  font-family: "Poppins";
}

.navigation-bar {
  background-color: #03151d;
  width: 100%;
  height: 150px;
}


.logo {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 100px;
  margin-right: 20px;
  margin-top: 15px;
}


.navigation-bar > a {
  font-weight: bold;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3fe1f3;
  vertical-align: top;
  border-radius: 12px;
  padding:7px 10px;
  margin-right: 20px;
  margin-top: 15px;
  height: 100px;
  line-height: 130px
}

.navigation-bar > a:hover {
  background-color: #3fe1f3;
  color: #FFFFFF;
}

.container {
  margin: auto 120px;
  border-radius: 5px;

}

.content {
  background-color: #FFFFFF;
  padding: 10px 20px;
  margin-top: 50px;
}