@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$font-family: 'Open Sans', sans-serif;
$light: 100;
$regular: 400;
$bold: 700;

$small: 18px;
$small-medium: 22px;
$medium: 28px;
$medium-large: 36px;
$large: 84px;

