$primary: rgb(112, 10, 94);
$hover: rgb(99, 7, 82);
$light-primary: rgba($primary, 0.6);
$white: rgba(255, 255, 255, 1);

$font-family: 'Open Sans', sans-serif;
$light: 100;
$regular: 400;
$bold: 700;

$small: 18px;
$small-medium: 22px;
$medium: 28px;
$medium-large: 36px;
$large: 84px;
