$white: rgba(255, 255, 255, 1);

$font-family: 'Open Sans', sans-serif;
$light: 100;
$regular: 400;
$bold: 500;
$bolder: 700;

$small: 1rem;
$small-medium: 1.1rem;
$medium: 1.8rem;
$medium-large: 2.2rem;
$large: 3.3rem;
$extra-large: 5.25rem;
