/*Creates the spin for the loader=========*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(720deg); }
}


/*Transition effect for home slideshow====*/
@keyframes slide {
  25% {opacity:1;} 
  40% {opacity:0;}
} 