.none {
  display: grid;
  grid-template-rows: 1fr 0.5fr 2.5fr 4fr 3fr;
  grid-template-columns: 4fr 5fr 15fr 4fr;
  background: linear-gradient($secondary-color, $secondary-color), url("../images/setup2.jpg");
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  color: $white;
}


/*Header============*/
.header {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  background-color: $primary-color;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.logout {
  float: right;
  text-decoration: none;
  background-color: $white;
  color: $primary-color;
  padding: 7px 18px;
  border-radius: 5px;
  margin: 0px 20px 5px 20px;
  transition: opacity 0.5s;
}

div .logout:hover {
  cursor: pointer;
  opacity: 0.8;
}



/*Profile section====*/
#profile {
  grid-row:  3 / 4;
  grid-column: 2 / 4;
  background-color: $primary-color;
  width: 100%;
  border-radius: 10px;
  margin: 0px auto 50px auto;
}

.profile-pic {
  float: left;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  margin: 10px;
}

#user {
  float: left;
  font-size: 52px;
}

.games {
  display: inline;
  font-weight: bolder;
  background-color: $white;
  color: $primary-color;
  width: 47%;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  transition: opacity 0.6s
}

.games:hover {
  cursor: pointer;
  opacity: 0.9;
}

.games:focus {
  outline: none;
}

#display1 {
  margin-left: 10px;
}




/*Rankings=================*/
#rank {
  grid-row:  4 / 5;
  grid-column: 2 / 4;
  background-color: $primary-color;
  width: 100%;

  border-radius: 10px;
  margin: 0px auto 200px auto;
}

#global {
  text-align: center;
  color: $white;
  font-size: 36px;
  margin: 8px auto;
}

#dof, #game3 {
  display: none;
}

.results {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
}

th {
  font-size: 18px;
  padding: 15px 5px 10px 5px;
  margin: 10px auto 0px auto;
}

td {
  opacity: 0.5;
}