* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #3fe1f3;
  font-family: 'Garamond', serif;
}


.header {
  width: 100%;
  background-color: #03151d;
  height: auto;
}


.logo {
  display: block;
  width: 40%;
  margin: auto;
}


nav {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}


nav > a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3fe1f3;
  padding: 14px 10px;
  width: 33.33%;
}


nav > a:hover {
  background-color: #3fe1f3;
  color: #FFFFFF;
  border-bottom: 3px solid #03151d; 
}


.content {
  background-color: #FFFFFF;
  width: 60%;
  margin: auto;
  padding: 15px 18px;
  margin-top: 50px;
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  color: #03151d;
  font-family: "Poppins", sans-serif;
}

div > p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  text-indent: 20px;
}


button {
  padding: 14px;
  background-color: #FFFFFF;
  border-radius: 7px;
}


button:hover {
  background-color:#999999;
  color: #FFFFFF;
  border: #03151d;
}


.download {
  position: absolute;
  right: 10px;
  margin-top: 15px;
}


.special {
  margin-bottom: 80px;
}


.special2 {
  margin-top: 120px;
}


.game-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.game > img {
  width: 200px;
  height: 200px;
  background-color: #999999;
}


@media screen and (max-width: 700px){
  nav {
    display: wrap;
  }
  nav > a {
    width: 100%;
  }
}