/*Changed default styling====================*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}





/*Header=====================================*/
#logo {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin: 50px auto;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

nav > a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  width: 33.33%;
  padding: 14px 10px;
  
}

.home {
  color: #233237;
  background-color: #ffffff;
}

.download {
  background-color: #4EC5C1;
}

.leaderboard {
  background-color: #E5E338;
}




/*Content=====================================*/
.content {
  width: 70%;
  max-width: 640px;
  padding: 15px 23px;
  border-radius: 8px;
  margin: 50px auto;
}

h2 {
  font-weight: bold;
  color: #4EC5C1;
}

div > p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  text-indent: 20px;
}

.download {
  position: absolute;
  right: 10px;
  margin-top: 15px;
  padding: 14px;
  background-color: #FFFFFF;
  border-radius: 7px;
  cursor: pointer;
}


.download1:hover {
  background-color:#999999;
  color: #FFFFFF;
  border-color: #999999;
}

.special {
  margin-bottom: 80px;
}


.special2 {
  margin-top: 120px;
}


.game-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.game > img {
  width: 200px;
  height: 200px;
  background-color: #999999;
}
