* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #3fe1f3;
  font-family: "Poppins";
}

.header {
  width: 100%;
  background-color: #03151d;
}


.logo {
  display: block;
  width: 40%;
  margin: auto;
}


nav {
  display: block;
  width: 100%;
  margin: auto;
}

nav > a {
  font-family: serif;
  font-weight: bold;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3fe1f3;
  border-radius: 12px;
  padding:14px 10px;
}

.navigation-bar > a:hover {
  background-color: #3fe1f3;
  color: #FFFFFF;
}

.container {
  margin: auto 120px;
  border-radius: 5px;

}

.content {
  background-color: #FFFFFF;
  padding: 10px 20px;
  margin-top: 50px;
}
