/*Changed default styling====================*/
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}




/*Parallax scrolling image====================*/
.parrallax {
  background-image: url("../MISC/parrallax.jpg");
  height: 800px;
  filter: brightness(0.1);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.presentation {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
}

.presentation > h1 {
  font-size: 50px;
}


/*Content=========================================*/
.content {
  text-align: justify;
  width: 70%;
  max-width: 640px;
  padding: 15px 23px;
  border-radius: 8px;
  margin: 50px auto;
}

#logo {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin: 50px auto;
}

h2 {
  color:#B82601;
  margin-top: 40px;
}

p {
  font-size: 17px;
  line-height: 1.6;
  text-indent: 20px;
}

p > a {
  color:#062F4F;
  text-decoration: none;
}



ol {
  font-size: 17px;
  margin-left: 40px;
  line-height: 1.6;
}

.downloadLink {
  display: block;
  width: 300px;
  text-decoration: none;
  text-align: center;
  background-color: #B82601;
  color: #ffffff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin: 70px auto;
  opacity: 1;
  transition: transform 0.6s, opacity 0.7s;
}


.downloadLink:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

/*LeaderBoards===================================*/
table {
  text-align: left;
  padding: 20px;
  border: 3px solid #B82601;
  border-radius: 10px;
  margin-bottom: 100px;
}

th {
  color: #062F4F;
  font-size: 18px;
}

td {
  padding: 8px;
}

.place, .score {
  width: 100px;
}

.name {
  width: 450px;
}


/*Footer=========================================*/
footer {
  background-color: #B82601;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  height: 150px;
}

footer > span:before {
  content: ' \00A9'
}

 a > i {
  margin: 20px 50px;
}

i.fab {
  color: #ffffff;
}