/*Changed default styling====================*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}





/*Header=====================================*/
#logo {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin: 50px auto;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

nav > a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  width: 33.33%;
  padding: 14px 10px;
  
}

.home {
  color: #233237;
  background-color: #ffffff;
}

.download {
  background-color: #4EC5C1;
}

.leaderboard {
  background-color: #E5E338;
}




/*Parallax scrolling image====================*/
.parrallax {
  background-image: url("../MISC/parrallax.jpg");
  background-color: #18121E;
  height: 700px;
  filter: brightness(0.2);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.presentation {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: center;
}

.content {
  width: 70%;
  max-width: 640px;
  padding: 15px 23px;
  border-radius: 8px;
  margin: 50px auto;
}




/*Content=========================================*/
h2 {
  color: #4EC5C1;
  margin-top: 40px;
}

section {
  margin-bottom: 70px;
}

p {
  font-size: 17px;
  line-height: 1.6;
  text-indent: 20px;
}

ol {
  font-size: 17px;
  margin-left: 40px;
  line-height: 1.6;
}

.none {
  text-indent: none;
}






/*Footer=========================================*/
footer {
  background-color: #4EC5C1;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  height: 150px;
}

footer > span:before {
  content: ' \00A9'
}

 a > i {
  margin: 20px 50px;
}

i.fab {
  color: #ffffff;
}