/*Changed default styling====================*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}





/*Parallax scrolling image====================*/
.parrallax {
  background-image: url("../MISC/parrallax.jpg");
  background-color: #18121E;
  height: 800px;
  filter: brightness(0.2);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.presentation {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: center;
}



/*Content=========================================*/
.content {
  width: 70%;
  max-width: 640px;
  padding: 15px 23px;
  border-radius: 8px;
  margin: 50px auto;
}

#logo {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin: 50px auto;
}

h2 {
  color: #286DA8;
  margin-top: 40px;
}

p {
  font-size: 17px;
  line-height: 1.6;
  text-indent: 20px;
}

p > a {
  color: #B37D4E;
  text-decoration: none;
}

ol {
  font-size: 17px;
  margin-left: 40px;
  line-height: 1.6;
}



/*Footer=========================================*/
footer {
  background-color: #286DA8;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  height: 150px;
}

footer > span:before {
  content: ' \00A9'
}

 a > i {
  margin: 20px 50px;
}

i.fab {
  color: #ffffff;
}