* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #3fe1f3;
  font-family: 'Garamond', serif;
}

.header {
  width: 100%;
  background-color: #03151d;
  height: auto;
}


.logo {
  display: block;
  width: 40%;
  margin: auto;
}


nav {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}


nav > a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3fe1f3;
  padding: 14px 10px;
  width: 33.33%;
}



nav > a:hover {
  background-color: #3fe1f3;
  color: #FFFFFF;
  border-bottom: 3px solid #03151d;
}

table {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
}

table, td, th {
  background-color: #FFFFFF;
  border-collapse: collapse;
  border: 2px solid #03151d;
}

h2 {
  font-weight: bold;
  color: #03151d;
  font-family: "Poppins", sans-serif;
}

section > p,ol {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  text-indent: 20px;
}

.special {
  margin-bottom: 60px;
}

.first{
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (max-width: 700px){
  nav {
    display: wrap;
  }
  nav > a {
    width: 100%;
  }

}