/*Changed default styling==========================*/
body {
  margin: 0;
  padding: 0;
  background: #ededed;
  font-family: 'Open Sans', sans-serif;
}
  
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  text-align: justify;
}

::-webkit-scrollbar { 
  display: none; 
}



/*Loader==========================================*/
#loader {
  position: relative;
  z-index: 1;
  margin: 45vh auto;
  border: 16px solid #ededed;
  border-radius: 50%;
  border-top: 16px solid rgba(21, 7, 43, 1);
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(720deg); }
}





/*Nav Bar=======================================*/
#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;
  z-index: 1;
  user-select: none;
  border-radius: 30%;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 20%; 
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 20px;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ededed;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.pages {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.pages:hover {
  color: rgba(21, 7, 43, 0.7);
}





/*Banner===========================================*/
.container {
  position: relative;
}

.text {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)); 
  color: white;
  text-align: center;
  bottom: 40px;
  right: 40px;
  border-radius: 10px;
  padding: 5px 15px;
}

img {
  width: 100%;
  height: 105vh;
  margin: -50px 0 0 0;
}

h1 {
  font-size: 80px;
}




/*Content==========================================*/
section {
  min-width: 300px;
  max-width: 500px;
  padding: 30px;
  border-radius: 16px;
}


/*Paragraph content====*/
.about {
  grid-column: 1 / 2;
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
  border-radius: 5px 50%;
  margin: 50px;
}

.competition {
  grid-column: 3 / 5;
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, rgba(0, 0, 50, 0.1) 50%, rgba(21, 7, 43, 0.4) 100%);
  text-align: center;
  padding: 30px;
  margin: 50px;
}

.playgame {
  grid-column: 1 / 2;
  background-color: #ffffff;
  text-align: center;
  padding: 40px;
  border-radius: 40%;
  margin: 50px;
}


/*Shapes=============*/
#shape1 {
  position: relative;
  grid-column: 4 / 6;
  background-color: rgba(21, 7, 43, 1);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 200px 0;
  animation-name: shape1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: smooth;
  transition: transform 0.7s;
}

#shape1:hover {
  cursor: pointer;
  transform: scale(1.3);
}

#shape2 {
  position: relative;
  grid-column: 1 / 2;
  margin: 200px 100px;
  background-color: rgba(21, 7, 43, 1);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  animation-name: shape2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: smooth;
  transition: transform 0.7s;
}

#shape2:hover {
  cursor: pointer;
  transform: scale(0.8);
}


#shape3 {
  position: relative;
  grid-column: 3 / 6;
  width: 100px;
  height: 100px;
  border-top: 100px solid rgba(21, 7, 43, 1);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  margin: 200px 40px;
  animation-name: shape3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: smooth;
  transition: transform 1s;
}

#shape3:hover {
  cursor: pointer;
  transform: scale(0.8);
}

/*Shape Animations=====*/
@keyframes shape1 {
  0%  {background-color: rgba(21, 7, 43, 1); left: 0px; top: 0px;}
  50% {background-color: rgba(21, 7, 43, 0.8); left: 140px; top:0px;}
  75% {background-color: rgba(21, 7, 43, 0.6); left: 140px; top: 140px;}
  100%{background-color: rgba(21, 7, 43, 1); left: 0px; top: 0px;}
}

@keyframes shape2 {
  0%   {background-color: rgba(21, 7, 43, 0.4); right: 0px; bottom: 0px;}
  50%  {background-color: rgba(21, 7, 43, 1); right: 40px; bottom: 40px;}
  100% {background-color: rgba(21, 7, 43, 0.4); right: 0px; bottom: 0px;}
}

@keyframes shape3 {
  0%   {background-color:rgba(21, 7, 43, 0); left: 0px; top: 0px;}
  50%  {background-color:rgba(21, 7, 43, 1); left: 0px; top: 140px;}
  100% {background-color:rgba(21, 7, 43, 0); left: 0px; top: 0px;}
}




/*Download button====*/
.downloadLink {
  display: block;
  grid-column:  4 / 6;
  width: 600px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(21, 7, 43, 1);
  color: #ffffff;
  padding: 40px;
  border: 1px solid rgba(21, 7, 43, 1);
  border-radius: 10px;
  margin: 200px auto;
  opacity: 1;
  transition: transform 0.6s, background-color 0.6s, color 0.6s;
}

.downloadLink:hover {
  transform: scale(1.2);
  background-color: #ededed;
  color: rgba(0, 0, 50, 1);
}

h2 {
  font-family: 'Chicle', cursive;
  font-size: 36px;
  color: rgba(21, 7, 43, 1);
  margin-top: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
}

.statCheck {
  color: rgba(21, 7, 43, 0);
  text-decoration: underline;
}

ol {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}





/*LeaderBoards===================================*/
.header {
  background-color: rgba(21, 7, 43, 1);
  width: 100%;
  height: 90px;
}

.space {
  margin-bottom: 200px;
}

.leaderboard {
  width: 70%;
  margin: auto;
}

table {
  text-align: left;
  border: 3px solid rgba(21, 7, 43, 1);
  border-collapse: collapse;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 100px;
}

th {
  background-color: rgba(21, 7, 43, 1);
  color: #ffffff;
  font-size: 18px;
  padding: 18px;
  border: 1px solid rgba(21, 7, 43, 1);
}

td {
  padding: 18px;
  border: 1px solid rgba(21, 7, 43, 1);
}

tr {
  background-color: #ffffff;
}

.gametitle {
  color: rgba(21, 7, 43, 1);
  font-size: 22px;
  margin: 5px auto;
}

.place, .score {
  width: 100px;
}

.name {
  width: 450px;
}

.first {
  margin-top: 230px;
}



/*Profile========================================*/
.logout {
  float: right;
  text-decoration: none;
  background-color: #ffffff;
  color: rgba(21, 7, 43, 1);
  padding: 7px 18px;
  border-radius: 5px;
  margin: 0 20px 0 0;
  transition: opacity 0.5s;
}

.logout:hover {
  cursor: pointer;
  opacity: 0.8;
}



/*Footer=========================================*/
footer {
  background-color: rgba(21, 7, 43, 1);
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  height: 150px;
}

footer > span:before {
  content: ' \00A9'
}

 a > i {
  margin: 20px 50px;
}

i.fab {
  color: #ffffff;
}